<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "mybatis-3-mapper"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.developer.appInfoMapper">
	<select id="selectAppInfo" resultType="app_info">
		select a.id,a.versionId,a.softwareName,a.APKName,a.softwareSize,a.status,
		(SELECT
		d.valueName
		FROM data_dictionary d where a.flatformId=d.valueId AND
		typeCode='APP_FLATFORM') AS flatformName,
		(SELECT c.categoryName FROM
		app_category c WHERE c.id=a.categoryLevel1) AS
		categoryLevel1Name,
		(SELECT c.categoryName FROM app_category c WHERE
		c.id=a.categoryLevel2) AS
		categoryLevel2Name,
		(SELECT c.categoryName
		FROM app_category c WHERE c.id=a.categoryLevel3) AS
		categoryLevel3Name,
		(SELECT d.valueName FROM data_dictionary d WHERE
		d.valueId=a.`status` AND
		typeCode='APP_STATUS') AS statusName,
		a.downloads,
		(SELECT v.versionNo FROM app_version v where
		v.id=a.versionId) AS versionNo
		FROM app_info a
		<where>
			<if test="softwareName!=null">and a.softwareName like CONCAT('%',#{softwareName},'%')
			</if>
			<if test="status!=null">and a.`status`=#{status}</if>
			<if test="flatformId!=null"> and a.flatformId=#{flatformId}</if>
			<if test="categoryLevel1!=null">and a.categoryLevel1=#{categoryLevel1}</if>
			<if test="categoryLevel2!=null">and a.categoryLevel2=#{categoryLevel2}</if>
			<if test="categoryLevel3!=null">and a.categoryLevel3=#{categoryLevel3}</if>
		</where>
		LIMIT #{pageIndex},#{pageConut}
	</select>
	<select id="count" resultType="int">
		select COUNT(1) FROM app_info
		<where>
			<if test="softwareName!=null">and softwareName like CONCAT('%',#{softwareName},'%')
			</if>
			<if test="status!=null">and status=#{status} </if>
			<if test="flatformId!=null">and flatformId=#{flatformId}</if>
			<if test="categoryLevel1!=null">and categoryLevel1=#{categoryLevel1}</if>
			<if test="categoryLevel2!=null">and categoryLevel2=#{categoryLevel2}</if>
			<if test="categoryLevel3!=null">and categoryLevel3=#{categoryLevel3}</if>
		</where>
	</select>
	<insert id="appAdd">
		insert INTO app_info
		(softwareName,APKName,supportROM,
		interfaceLanguage,softwareSize,
		downloads,flatformId,categoryLevel1,
		categoryLevel2,categoryLevel3,status,appInfo,logoPicPath,logoLocPath,
		createdBy,creationDate)
		value(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{softwareSize},#{downloads},#{flatformId},#{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{status},#{appInfo},#{logoPicPath},#{logoLocPath},#{createdBy},#{creationDate})
	</insert>
	<select id="findApp" resultType="app_info">
		select * from app_info
		<where>
		   <if test="APKName!=null">
		    and APKName=#{APKName}
		    </if>
		    <if test="id!=null">
		     and id=#{id}
		    </if>
		</where>
	</select>
	<select id="findAppId" resultType="app_info">
		select a.*,(SELECT d.valueName FROM data_dictionary d where d.typeCode='APP_STATUS' AND d.valueId=a.`status`) AS statusName
	    from app_info a where
		id=#{id}
	</select>
	<update id="appinfomodify">
		UPDATE app_info
		<set>
			<if test="softwareName!=null">softwareName=#{softwareName},</if>
			<if test="APKName!=null">APKName=#{APKName},</if>
			<if test="supportROM!=null">supportROM=#{supportROM},</if>
			<if test="interfaceLanguage!=null">interfaceLanguage=#{interfaceLanguage},</if>
			<if test="softwareSize!=null">softwareSize=#{softwareSize},</if>
			<if test="updateDate!=null">updateDate=#{updateDate},</if>
			<if test="devId!=null">devId=#{devId},</if>
			<if test="appInfo!=null">appInfo=#{appInfo},</if>
			<if test="status!=null">status=#{status},</if>
			<if test="onSaleDate!=null">onSaleDate=#{onSaleDate},</if>
			<if test="offSaleDate!=null">offSaleDate=#{offSaleDate},</if>
			<if test="flatformId!=null">flatformId=#{flatformId},</if>
			<if test="categoryLevel3!=null">categoryLevel3=#{categoryLevel3},</if>
			<if test="downloads!=null">downloads=#{downloads},</if>
			<if test="modifyBy!=null">modifyBy=#{modifyBy},</if>
			<if test="modifyDate!=null">modifyDate=#{modifyDate},</if>
			<if test="categoryLevel1!=null">categoryLevel1=#{categoryLevel1},</if>
			<if test="categoryLevel2!=null">categoryLevel2=#{categoryLevel2},</if>
		</set>
		where id=#{id}
	</update>
	<select id="selectVersion" resultMap="appVersionList">
	  select a.id,v.*,(SELECT i.softwareName FROM app_info i where v.appId=i.id) AS appName,
     (SELECT d.valueName FROM data_dictionary d where v.publishStatus=d.valueId AND d.typeCode='PUBLISH_STATUS') AS publishStatusName
     from app_info a,app_version v where a.id=v.appId and a.id=#{id}
	</select>
	<resultMap type="app_info" id="appVersionList">
	   <result property="id" column="id"/>
	   <collection property="versionList" ofType="app_version">
	       <id property="id" column="id1"/>
	       <result property="appId" column="appId"/>
	       <result property="appName" column="appName"/>
	       <result property="versionNo" column="versionNo"/>
	       <result property="publishStatusName" column="publishStatusName"/>
	       <result property="versionSize" column="versionSize"/>
	       <result property="downloadLink" column="downloadLink"/>
	       <result property="modifyDate" column="modifyDate"/>
	       <result property="apkFileName" column="apkFileName"/>
	   </collection>
	</resultMap>
	<update id="updateVersionId">
	  UPDATE app_info set versionId=#{versionId} WHERE id=#{id}
	</update>
</mapper>